tbody {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%; 
  height: 80px;
}
tfoot{
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-style:double;
  border-radius: 10px;
  border-top: 30px solid white;
  width: 70%;
  height: 80px;
}
h1{
  text-align: center;
  font-size:x-large;
  font-style: bolder ;
} 

h3{
  text-align: center;
  font-size:x-large;
  font-weight: bold;
  font-style: bolder ;
  padding: 0px 3px 0px 3px;
} 
h4{
  text-align: center;
  font-size: medium;
  padding: 0px 3px 0px 3px;
  } 
h5{
  text-align: right;
  font-size: medium;
  padding:0px 3px 0px 3px; 
} 
h6{
  text-align: center;
  font-size: medium;
  padding: 0px 3px 0px 3px;
} 
.rosa{
  background-color: hwb(315 9% 41%);
}
.verde_escuro{
  background-color: hwb(128 0% 87%);
}
.amarelo{
  background-color: hwb(56 1% 13%);
}
.azul_claro{
  background-color: hwb(204 11% 29%);
}
.azul_escuro{
  background-color: hwb(249 0% 50%);
}
.grafite{
  background-color: hwb(158 15% 81%);
}
.cinza{
  background-color: hwb(180 48% 51%);
}
.laranja{
  background-color: hwb(22 16% 22%);
}
.roxo{
  background-color: hwb(296 0% 75%);
}
.verde_petroleo{
  background-color: hwb(175 5% 53%);
}


  td, th {
    border: 1px solid #dddddd;
    border-radius: 2px;
    text-align: left;
  } 
  /* tr:nth-child(even) {
    /* background-color: #dddddd; 
  } */
  div#container{
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }